name: coverage
on:
  workflow_run:
    workflows: ["ci"]
    types: [completed]
permissions:
  contents: read
  actions: read
defaults:
  run:
    shell: bash
jobs:
  upload:
    runs-on: ubuntu-24.04
    # Run only if originated from a PR
    if: ${{ github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          ref: ${{ github.event.workflow_run.head_sha }}
      # Checkout codecov.yaml config from main
      - uses: actions/checkout@v6
        with:
          path: main
          submodules: true
          sparse-checkout: |
            .github/codecov.yaml
          sparse-checkout-cone-mode: false
      - name: Download coverage artifact
        uses: actions/download-artifact@v6
        with:
          name: coverage
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Get PR number
        run: |
          echo "PR_NUMBER=$(cat ./pr_number)" >> "$GITHUB_ENV"
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5.5.1
        with:
          codecov_yml_path: main/.github/codecov.yaml
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true
          override_branch: ${{ github.event.workflow_run.head_branch }}
          override_commit: ${{ github.event.workflow_run.head_sha }}
          override_pr: ${{ env.PR_NUMBER }}
