name: publish
# When a release is published or called manually
on:
  release:
    types:
      - published
  workflow_dispatch:
# Only needs to clone the repository
permissions:
  contents: read
  # crates.io login
  id-token: write
# Safer shell
defaults:
  run:
    shell: bash
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  # It's not safe to cancel the publish
  cancel-in-progress: false
env:
  CI: "true"
  CARGO_TERM_COLOR: always
jobs:
  # Check that the create can be compiled with only the packaged files
  for-publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - uses: mozilla-actions/sccache-action@v0.0.9
      - run: ./scripts/ci/check-for-publish.sh
  publish:
    needs: [for-publish]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - name: Authenticate with registry
        uses: rust-lang/crates-io-auth-action@v1.0.3
        id: auth
      - name: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --locked --workspace
