name: test
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
defaults:
  run:
    shell: bash
env:
  CI: "true"
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: taiki-e/install-action@v2.65.1
        with:
          tool: cargo-nextest
      - name: cargo nextest run
        run: cargo nextest run --locked --all-features --all-targets --workspace
      # https://github.com/rust-lang/cargo/issues/6669
      - name: cargo test doc
        run: cargo test --locked --all-features --doc --workspace
  os-check:
    runs-on: ${{ matrix.os }}
    name: os-check / ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ./.github/actions/install-deps
        with:
          for-image: "${{ matrix.os }}"
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: taiki-e/install-action@v2.65.1
        with:
          tool: cargo-nextest
      - name: cargo nextest run
        run: cargo nextest run --locked --all-features --all-targets --workspace
  coverage:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: nightly
          components: llvm-tools
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: taiki-e/install-action@v2.65.1
        with:
          tool: grcov,rustfilt
      - name: Generate coverage
        run: |
          EXPORT_FOR_CI=1 ./scripts/ci/coverage.sh
      # Upload the coverage if we are not a PR from a fork, see ".github/workflows/coverage.yaml"
      - name: Upload to codecov.io
        if: ${{ github.event_name == 'push' }}
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true
      # Save data to use in workflow_run
      - name: Save PR number
        if: ${{ github.event_name == 'pull_request' }}
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          echo "$PR_NUMBER" > ./pr_number
      - name: Upload coverage artifact
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: |
            pr_number
            coverage-*.info
